* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-image: url("./img/5_background/first_half_background.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  font-family: "zabras", Arial, Helvetica, sans-serif;
}

.fullscreen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

canvas {
  position: absolute;
  display: block;
  border: 2px solid #994409;
  border-radius: 8px;
}

.start-screen {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 720px;
  height: 480px;
  background-image: url("./img/9_intro_outro_screens/start/startscreen_1.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border: 2px solid #994409;
  border-radius: 6px;
}

.manual-screen {
  z-index: 1;
  justify-content: flex-start !important;
  gap: 16px;
  background-image: url("./img/9_intro_outro_screens/game_over/keys_updated.png");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 6px;
}

.keys {
  display: flex;
  flex-direction: row;
  gap: 16px;
  padding: 0 32px 0 32px;
}

.overlay {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 720px;
  height: 480px;
}

.panel,
.panel-sound,
.panel-control,
.panel-close,
.panel-manual {
  display: flex;
  width: 100%;
  padding: 8px;
  gap: 8px;
}

.panel {
  justify-content: center;
}

.panel-sound,
.panel-close,
.panel-manual {
  justify-content: flex-end;
}

.panel-control {
  justify-content: space-between;
}

.mobile-screen {
  display: none;
}

.controls {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
  padding: 16px;
  width: 720px;
  background-color: rgba(247, 192, 101, 0.6);
  border: 2px solid #994409;
  border-radius: 8px;
}

.control-container {
  position: absolute;
  bottom: 30%;
  z-index: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
}

.control {
  display: flex;
  flex-direction: row;
  gap: 8px;
  border-radius: 8px;
}

.btns {
  display: flex;
  gap: 8px;
}

.btn {
  padding: 8px 16px;
  background-color: rgba(247, 192, 101, 0.6);
  border: 2px solid #994409;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}

.mobile-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
  background-color: rgba(247, 192, 101, 0.6);
  border: 2px solid #994409;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}

#sound-on, #sound-off {
  z-index: 9999;
}

.impressum {
  text-decoration: none;
  font-family: "zabras";
  font-size: 24px;
  color: #994409;
}

.btn:hover,
.mobile-btn:hover {
  background-color: rgba(247, 192, 101);
}

.won-screen,
.lost-screen {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  position: relative;
  width: 720px;
  height: 480px;
  background-image: url("./img/9_intro_outro_screens/game_over/game over.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 6px;
}

.won-screen {
  background-image: url("./img/You won, you lost/You won A.png");
}

.lost-screen {
  background-image: url("./img/9_intro_outro_screens/game_over/you lost.png");
}

.box-shadow-6 {
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.12);
  box-shadow: 0px 6px 10px 0px rgba(0, 0, 0, 0.12);
  box-shadow: 0px 1px 18px 0px rgba(0, 0, 0, 0.12);
}

.column-24px {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 24px;
}

.icon-description {
  display: flex;
  flex-direction: row;
  gap: 24px;
  padding-right: 48px;
}

.d-none {
  display: none;
}

.icon-48x48 {
  height: 48px;
  width: 48px;
}

.icon-24x24 {
  height: 24px;
  width: 24px;
}

.padding-32px {
  padding: 0 32px 32px 32px;
}

@media only screen and (min-width: 667px) and (orientation: landscape) and (hover: none) and (pointer: coarse) {
  .canvas {
    height: 100%;
    width: 100%;
  }

  .overlay {
    height: 100%;
    width: 100%;
  }

  .start-screen {
    height: 100%;
    width: 100%;
  }

  .manual-screen {
    height: 100%;
    width: 100%;
  }

  .won-screen,
  .lost-screen {
    width: 100%;
    height: 100%;
  }
}

@media only screen and (max-width: 720px) and (orientation: portrait) {
  .fullscreen {
    display: none;
  }

  .canvas {
    height: 100%;
    width: 100%;
  }

  .fullscreen {
    display: none;
  }

  .mobile-screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 32px;
    gap: 16px;
    height: 100%;
    width: 100%;
    background-color: rgba(247, 192, 101, 0.6);
  }
}

@media only screen and (min-width: 1000px) and (orientation: landscape) {
  .panel-control {
    display: none;
  }
}

@media only screen and (min-width: 720px) and (orientation: portrait) {
  .panel-control {
    display: none;
  }
}

@media only screen and (max-width: 480px) {
  .canvas {
    width: 100vh;
  }
}

h4 {
  font-family: "zabras";
  font-size: 36px;
  color: #994409;
}

p,
.btn {
  font-family: "zabras";
  font-size: 24px;
  color: #994409;
}

@font-face {
  font-family: "zabras";
  src: url(./fonts/Zabars.ttf) format("truetype");
}
